.HomeVisual{
    background-image: url("../Assets/backgroundMessiRonaldo.PNG");
    height:100%;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* All football you need */
.HomeVisual h1{
    background: -webkit-linear-gradient(#F4A58A, #ED6B4E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 68px;
}

.HomeVisual span{
    border-bottom: 7px solid #ED6B4E;
}

/*Icons*/
.Icons{
    color: #ED6B4E;
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.Icons i{
    padding: 20px;
    font-size: 68px;
}

