.TopBar{
    color: #c4c4c4;
    background-color: #222232;
    width: 100%;
    height:119px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
  }
  
  .UserInfos{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
  }
  
  .UserInfos img{
    width:33px; 
    color:#c4c4c4;
    padding: 10px;
  }
  .Logo{
    position: absolute;
    width: 248px;
    height: 72px;
    left: 193px;
    top: 19px;
    
    background: url(../Assets/logo.png); 
  }
  